:root{
	--fg: #000000;
	--bg: #ffffff;
	--ac: #1010ff;
}

.post, hr, .comment{
	border: solid 1px var(--ac);;
}

.post, .comment{
	padding: 1%;
	margin: 1%;
}


pre{
	border: 1px solid var(--fg);
	color: var(--bg);
	background-color: var(--fg);
	padding: 1%;
	overflow: auto;
}

a, a:link, a:visited, a:hover, a:active{
	color: var(--ac);
}

blockquote{
	border-left: solid 1px var(--ac);
	padding-left: 1%;
	font-style: italic;
}

body{
	background-color: var(--bg);
	color: var(--fg);
}

th{
	border: solid 1px var(--ac);
	background-color: var(--ac);
}

td{
	border: solid 1px var(--fg);
}


/* responsive */
*{
	box-sizing: border-box;
}

[class*="col-"]{
	float: left;
	padding: 15px;
} 

.row::after{
	content: "";
	clear: both;
	display: table;
}

/* For mobile phones: */
[class*="col-"]{
	width: 100%;
}

@media only screen and (min-width: 600px){
	/* For tablets: */
	.col-s-1{width: 8.33%;}
	.col-s-2{width: 16.66%;}
	.col-s-3{width: 25%;}
	.col-s-4{width: 33.33%;}
	.col-s-5{width: 41.66%;}
	.col-s-6{width: 50%;}
	.col-s-7{width: 58.33%;}
	.col-s-8{width: 66.66%;}
	.col-s-9{width: 75%;}
	.col-s-10{width: 83.33%;}
	.col-s-11{width: 91.66%;}
	.col-s-12{width: 100%;}
}

@media only screen and (min-width: 768px){
	/* For desktop: */
	.col-1{width: 8.33%;}
	.col-2{width: 16.66%;}
	.col-3{width: 25%;}
	.col-4{width: 33.33%;}
	.col-5{width: 41.66%;}
	.col-6{width: 50%;}
	.col-7{width: 58.33%;}
	.col-8{width: 66.66%;}
	.col-9{width: 75%;}
	.col-10{width: 83.33%;}
	.col-11{width: 91.66%;}
	.col-12{width: 100%;}
}

/* navbar */
nav{
	display: flex;
	justify-content: space-between;
	padding: 1%
}

/* footer */
.footer{
}

/* push footer down */
.content{
	min-height: 100vh;
}

/* images */
img{
	display: block;
	max-width: 60%;
	max-height: 60vh;
}

.licenseimg{
	display: flex;
	justify-content: center;
}
.licenseimg>a{
	width: 118px;
}
.licenseimg>a>img{
	min-width: 100%;
}
